@tailwind base;
@tailwind components;
@tailwind utilities;

.dark {
	--tw-bg-opacity: 1;
	background-color: rgb(15 23 42 / var(--tw-bg-opacity));
	color: #fff;
	transition: 0.3s all linear;
}

.light {
	background-color: #fff;
	color: #000;
	transition: 0.3s all linear;
}

#root {
	min-height: 100vh;
}
